.reading-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: block;
  width: 0;
  height: unquote(hexo-config('reading_progress.height'));
  background: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
}
